.sellitems
  .sellitems__contents
    .sellitems__contents_sellitems
      %p 出品した商品
      .sellitems__contents_sellitems_box
        .sellitems__contents_sellitems_box_sell
          %p 出品中
          .sellitems__contents_sellitems_box_sell_list
            %ul
              %li item1
              %li item2
        .sellitems__contents_sellitems_box_trading
          %p 取引中
          .sellitems__contents_sellitems_box_trading_list
            %ul
              %li item3
              %li item4
        .sellitems__contents_sellitems_box_traded
          %p 売却済み
          .sellitems__contents_sellitems_box_traded_list
            %ul
              %li item3
              %li item4