.header
  .header
    .header__main
      .header__main__inner
        .header__main__inner__icon
          %img{height: "30", width: "150", src: "furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.png"}
        .header__main__inner__search
          %input
          %button=icon("fa", "search")
        .header__main__inner__
      .header__main__bottom
        .header__main__bottom__left
            
        .header__main__bottom__right
.main
.footer
  %ul.content
    %li.content__li
      %h2.content__li__head FURIMAについて
      %ul
        %li.content__li__head__list 会社概要（運営会社)
        %li.content__li__head__list プライバシーポリシー
        %li.content__li__head__list FURIMA利用規約
        %li.content__li__head__list ポイントに関する規約
    %li.content__li
      %h2.content__li__head FURIMAをみる
      %ul
        %li.content__li__head__list カテゴリー一覧
        %li.content__li__head__list ブランド一覧
    %li.content__li
      %h2.content__li__head ヘルプ&ガイド
      %ul
        %li.content__li__head__list FURIMAガイド
        %li.content__li__head__list FURIMAロゴ利用ガイドライン
        %li.content__li__head__list お知らせ
  .footer__logo
    %img{height: "30", width: "150", src: "furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.png"}
    .footer__logo__box
      %p.footer__logo__box @FURIMA
