.wrapper
  = render "items/header"
  .mainview
    = render "side"
    .buyitems
      .buyitems__contents
        .buyitems__contents_buyitems
          %p 購入した商品
          .buyitems__contents_buyitems_box
            .buyitems__contents_buyitems_box_trading
              %p 取引中
              .buyitems__contents_buyitems_box_trading_list
                %ul
                  %li item1
                  %li item2
            .buyitems__contents_buyitems_box_traded
              %p 過去の取引
              .buyitems__contents_buyitems_box_traded_list
                %ul
                  %li item3
                  %li item4
  = render "items/footer"