.wrapper
  = render "items/header"
  .mainview
    = render "side"
    .like
      .like__contents
        .like__contents_likes
          .like__contents_likes_head
            %p いいね！した商品
          .like__contents_likes_box
            %ul
              %li item1
              %li item2
