.wrapper
  = render "items/header"
  .mainview
    = render "side"
    .logout
      .logout__contents
        .logout__contents_head
          %p ログアウトしますか？
        .logout__contents_btn
          %input{type: "submit", class: "logout__contents_logout-btn", value: "ログアウト"}