.wrapper
  = render "items/header"
  .mainview
    = render "side"
    .logout
      .logout__contents
        .logout__contents_head
          %p ログアウトしますか？
        .logout__contents_btn
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class:'btn'