.wrapper
  = render "items/header"
  .mainview
    = render "side"
    .mailpass
      .mailpass__contents
        .mailpass__contents_head
          %p メールアドレス変更
        %ul.mailpass__contents_form
          %li.mailpass__contents_form_mailaddress
            %p 名前さんのメールアドレス
            %p 000000@00.com
          %li.mailpass__contents_form_newmailaddress
            %p 新しいメールアドレス
            %input
        .mailpass__contents_head
          %p パスワード変更
        %ul.mailpass__contents_form
          %li.mailpass__contents_form_pass
            %p 現在のパスワード
            %input
          %li.mailpass__contents_form_newpass
            %p 新しいパスワード
            %input
          %li.mailpass__contents_form_newpasscheck
            %p 再入力
            %input
        .mailpass__contents_btn
          %input{type: "submit",class: "mailpass__contents_submit", value: "変更する"}
  = render "items/footer"