.wrapper
  = render "items/header"
  .mainview
    = render "side"
    .notice
      .notice__contents
        .notice__contents_head
          %p お知らせ一覧
        .notice__contents_box
          %ul.notice__contents_box_list
            %li メッセージ１
            %li メッセージ２
            %li メッセージ３
  = render "items/footer"