.wrapper
  = render "items/header"
  .mainview
    = render "side"
    .profile
      .profile__contents
        .profile__contents_head
          %p プロフィールの変更
        %ul.profile__contents_form
          %li.profile__contents_form_nickname
            %p ニックネーム
            %input
          %li.profile__contents_form_message
            %p 自己紹介文
            %textarea(name="texdt" cols="40" rows="3")
        .profile__contents_btn
          %input{type: "submit",class: "profile__contents_submit", value: "変更する"}
  = render "items/footer"