.wrapper {
  .logout {
    width: calc(100% - 300px);
    text-align: center;
    background-color: $background-color;
    display: flex;
    &__contents{
      width: 80%;
      height: 250px;
      margin: 0 auto;
      margin-top: 50px;
      background-color: $base-color;
      &_head{
        font-size: 25px;
        padding: 30px;
        p{
          border-bottom: 2px solid $maincolor;
        }
      }
      &_btn{
        text-align: center;
        margin-top: 50px;
        padding: 10px 100px;
        text-align: center;
        margin: 0 auto;
        border-radius: 10px;
        background-color: $maincolor;
        width: 300px;
      }
    }
  }
}