.wrapper {
  .profile {
    width: calc(100% - 300px);
    background-color: $background-color;
    display: flex;
    text-align: center;
    &__contents{
      width: 80%;
      height: 70%;
      margin: 0 auto;
      margin-top: 50px;
      background-color: $base-color;
      &_head{
        font-size: 25px;
        padding: 30px;
        p{
          border-bottom: 2px solid $maincolor;
        }
      }
      &_form{
        font-size: 20px;
        &_nickname{
          .input_userNickname{
            padding-left: 10px;
          }
        }
        &_icon{
          margin-top: 20px;
          .input_userIcon{
            padding-top: 5px;
          }
          
        }
      }
      &_btn{
        text-align: center;
        margin-top: 30px;
        .profile__contents_submit{
          padding: 10px 100px;
          margin: 20px 0;
          border-radius: 10px;
          background-color: $maincolor;
        }
      }
    }
  }
}