.wrapper {
  width: 100%;
  height: 100vh;
  .buyitem {
    width: 100%;
    display: flex;
    text-align: center;
    &__contents{
      width: 70%;
      height: 100%;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 100px;
      border: 2px solid $maincolor;
      background-color: $base-color;
      &_head{
        font-size: 25px;
        padding: 30px;
        p{
          border-bottom: 2px solid $background_color;
        }
      }
      &_info{
        width: 500px;
        height: 200px;
        display: flex;
        margin: 0 auto;
        &_image{
          width: 200px;
          height: 200px;
          border: 2px solid $font_color;
          img{
            width: 100%;
            height: 100%;
          }
        }
        &_box{
          padding: 30px 20px;
          &_name{
          }
          &_price{
            padding-top: 30px;
            p{
              font-size: 20px;
            }
          }
        }
      }
      &_content{
        margin: 30px;
        padding: 40px 0;
        border-top: 2px solid $background_color;
        &_box{
          display: flex;
          justify-content: center;
          font-weight: bold;
          font-size: 20px;
          padding-bottom: 30px;
          &_head{
          }
          &_price{
            padding-left: 200px;
            p{
              font-size: 15px;
              line-height: 30px;
            }
          }
        }
        &_payment{
          font-weight: bold;
          width: 60%;
          margin: 0 auto;
          text-align: left;
          &_list{
            font-weight: normal;
            line-height: 30px;
            input{
              padding-right: 20px;
            }
            a{
              font-size: 15px;
              padding: 0 20px;
              color: gray;
            }
            .first-card_add{
              align-items: center;
              padding: 5px;
            }
            .second-card_add{
              align-items: center;
              padding: 5px;
            }
          }
        }
        &_address{
          font-weight: bold;
          width: 60%;
          padding-top: 30px;
          margin: 0 auto;
          text-align: left;
          &_list{
            font-weight: normal;
            line-height: 30px;
          }
        }
      }
      &_message{
        width: 80%;
        margin: 0 auto;
        p{
        }
      }
      &_check{
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        input{
          line-height: 25px;
        }
        label{
          height: 20px;
          padding-left: 10px;
        }
      }
      &_btn{
        line-height: 70px;
        padding-bottom: 50px;
        margin: 0 auto;
        .buyitem__contents_submit{
          font-size: 25px;
          padding: 10px 100px;
          margin: 20px 0;
          border-radius: 10px;
          background-color: $maincolor;
        }
      }
      .solditem{
        font-size: 25px;
        color: red;
        padding-bottom: 20px;
      }
    }
  }
}