* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}
.breadCrumbs {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px ;
  display: block;
  .path-list {
    padding: 17px 0px 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    display: flex;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    li {
      padding-left: 10px;
      a{
        color: black;
      }
    }
    &__9 {
      font-weight: bold;
    }
  }
}
.main {
  background-color: #f8f8f8;
  .showMain {
    padding: 40px;
    margin: 0 auto;
    .content {
      width: 700px;
      margin: 0 auto;
    }
  }
}

.itemBox {
  background-color: #fff;
  padding: 24px 40px 40px;
  &__name {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
  &__body {
    margin: 16px 0 0 ;
    .item-image {
      .main-image {
        display: flex;
        width: 560px;
        margin: 0 auto;
        img {
          width: 100%;
          height: 346px;
        }
      }
      .sub-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 560px;
        margin: auto;
        li {
          width: 25%;
          margin: 10px 10px 0 0;
          flex-direction: column;
          img {
            height: 87px;
            object-fit: cover;
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
    }
  }
  &__price {
    margin: 24px 0 24px;
    text-align: center;
     > span {
      font-size: 46px;
      font-weight: bold;
      margin: 0 10px 0 0;
    }
    &__price-detail {
      font-size: 16px;
    }
  }
  .itemDetail {
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .table {
    margin-bottom: 20px;
    table {
      width: 100%;
      height: 375px;
      border-collapse: collapse;
      border: 1px solid #f8f8f8;
      tbody {
        display: table-row-group;
        border-color: inherit;
        tr {
          display: table-row;
          vertical-align: inherit;
          border-color: inherit;
          th {
            width: 20%;
            background-color: #eee;
            font-weight: 400;
            padding: 8px;
            border: 1px solid #dedede;
            font-size: 14px;
            text-align: center;
          }
          td {
            width: 61%;
            padding: 15px 15px;
            border:  1px solid #dedede;
            font-size: 14px;
            a {
              text-decoration: none;
              color: #3CCAEC;
            } 
          }
        }
      }
    }
  }
  .optionalArea {
    display: flex;
    justify-content: space-between;
    ul {
      margin: 10px 0 0;
      display: flex;
      cursor: pointer;
      transition: all 0.1s ease 0s;
      li.likeBtn {
        margin-right: auto;
        padding: 6px 10px;
        border-radius: 40px;
        color: #3CCAEC;
        border: 1px solid #ffb340;
      }
    }
    ul:hover {
      opacity: 0.5;
    }
    ul.optional {
      li.optionalBtn {
        font-size: 14px;
        a {
          padding: 6px 10px;
          display: inline-block;
          border-radius: 4px;
          color: #333;
          border: 1px solid #333;
          text-decoration: none;
        }
      }
    }
  }
}
.commentBox {
  padding: 24px;
  background-color: #fff;
  margin: 10px 0;
  text-align: center;
  ul.commentContents {
    list-style: none;
  }
  form.new_comment {
    display: block;
    input {
      width: 100%;
      min-height: 104px;
      padding: 10px;
    }
    .noticeMsg {
      padding: 8px;
      font-size: 14px;
      background-color: #f8f8f8;
      margin: 10px 0;
      text-align: left;
    }
    .commentBtn {
      font-size: 18px;
      line-height: 48px;
      background-color: #3CCAEC;
      border: 1px solid #3CCAEC;
      color: #fff;
      width: 60%;
      border-radius: 100p;
    }
  }
}

.links {
  li {
    float: left;
    a {
      text-decoration: none;
      color: #3CCAEC;
    }
  }
  li:last-child {
    float: right;
  }
}

.relatedItems {
  a {
    display: block;
    margin: 70px 0 8px ;
    color: #3CCAEC;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    position: relative;
    bottom: 10px;
  }
}