.wrapper
  = render "header"
  .buyitem
    .buyitem__contents
      .buyitem__contents_head
        %p 購入内容の確認
      .buyitem__contents_info
        .buyitem__contents_info_image
          %p no image
        .buyitem__contents_info_box
          .buyitem__contents_info_box_name
            %p [値下げ] プロポーション ボディドレッシング プリーツスカート 2 青紫
          .buyitem__contents_info_box_price
            %p ¥1,400 （税込）送料込み
      .buyitem__contents_content
        .buyitem__contents_content_box
          .buyitem__contents_content_box_head
            %p 支払い金額
          .buyitem__contents_content_box_price
            %p ¥1,400
        .buyitem__contents_content_payment
          %p 支払い方法
          .buyitem__contents_payment_list
            %p 選択して下さい
        .buyitem__contents_content_address
          %p 配送先
          .main__contents_content_address
            %p 登録して下さい
      .buyitem__contents_message
        %p 出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
      .buyitem__contents_btn
        %input{type: "submit",class: "buyitem__contents_submit", value: "購入する"}
  = render "footer"