.footer
  %ul.content
    %li.content__li
      %h2.content__li__head FURIMAについて
      %ul
        %li.content__li__head__list 会社概要（運営会社)
        %li.content__li__head__list プライバシーポリシー
        %li.content__li__head__list FURIMA利用規約
        %li.content__li__head__list ポイントに関する規約
    %li.content__li
      %h2.content__li__head FURIMAを見る
      %ul
        %li.content__li__head__list カテゴリー一覧
        %li.content__li__head__list ブランド一覧
    %li.content__li
      %h2.content__li__head ヘルプ&ガイド
      %ul
        %li.content__li__head__list FURIMAガイド
        %li.content__li__head__list FURIMAロゴ利用ガイドライン
        %li.content__li__head__list お知らせ
  .footer__logo
    .footer__logo__box
      = link_to root_path do
        = image_tag "logo/logo-white.png"
      %p.footer__logo__box @FURIMA


