.form
  .form__picture
    .form__picture__title 出品画像
    .form__picture__mark 必須
    .form__picture__text ・最大10枚までアップロードできます。
    .form__picture__upload
      %p ドラッグアンドドロップ
      %p またはクリックしてファイルをアップロード
  
  .form__itemname
    .form__itemname__title 商品名
    .form__itemname__mark 必須
    .form__itemname__name
      %input{placeholder: "　40文字まで"}
    .form__itemname__secondtitle 商品の説明
    .form__itemname__secondmark 必須
    .form__itemname__secondname
      %input{placeholder: "　商品の説明　（色・素材・重さ・定価・注意点など）"}
  
  .form__itemdate
    .form__itemdate__toptitle 商品の詳細
    .form__itemdate__title カテゴリー
    .form__itemdate__mark 必須
    .form__itemdate__category
      %input{placeholder: "　選択してください"}
    .form__itemdate__secondtitle ブランド
    .form__itemdate__secondmark 必須
    .form__itemdate__brandname
      %input{placeholder: "　選択してください"}
    .form__itemdate__thirdtitle 商品の状態
    .form__itemdate__thirdmark 必須
    .form__itemdate__condition
      %input{placeholder: "　選択してください"}
  
  .form__delivery
    .form__delivery__toptitle 配送について
    .form__delivery__title 送料の負担
    .form__delivery__mark 必須
    .form__delivery__postage
      %input{placeholder: "　選択してください"}
    .form__delivery__secondtitle 発送元の地域
    .form__delivery__secondmark 必須
    .form__delivery__area
      %input{placeholder: "　選択してください"}
    .form__delivery__thirdtitle 発送までの日数
    .form__delivery__thirdmark 必須
    .form__delivery__days
      %input{placeholder: "　選択してください"}
  
  .form__price
    .form__price__toptitle 価格（¥300〜9,999,999）
    .form__price__title 販売価格
    .form__price__mark 必須
    .form__price__yenmark ￥
    .form__price__saleprice
      %input{placeholder: "　　　　　　　　　　　　　　　0"}
    .form__price__secondtitle 販売手数料（10%）
    .form__price__minuskey ー
    .form__price__underline
    .form__price__thirdtitle 販売利益
    .form__price__secondminuskey ー
  
  .form__itemupper
    .form__itemupper__button
      = link_to "#" do
        %p.group__btn 出品する
  
  .form__returnkey
    .form__returnkey__button
      = link_to "#" do
        %p.group__btn もどる