%ul.category1
  - @parents.each do |parent|
    %li.parent__list
      = link_to parent.name
      %ul.category2
        - parent.children.each do |child|
          %li.child__list
            =link_to child.name
            %ul.category3
              - child.children.each do |grandchild|
                %li.grandchild__list
                  = link_to grandchild.name