.footer {
  background-color: #272727;
  width: 100%;
  padding: 60px 0;
  text-align: center;
  color: white;
  .content {

    justify-content: space-evenly;
    display: flex;
    padding: 0 260px;
    height: 160px;
    &__li {
      width: calc( 1 / 3 * 100);
      &__head {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 22px;
        &__list{
          text-decoration: none;
          font-size: 12px;
          height: 32px;
        }
      }
    }
  }
  &__logo {
    &__box {
      img {
        max-width: 160px;
      }
    }
  }
}

.camera {
  margin-left: auto;
  height: 115px;
  width: 120px;
  text-align: center;
  color: white;
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 5%;
  background: $maincolor;
  &__box{
    font-size: 18px;
    padding-top: 10px;
    img {
      padding: 12px;
      max-width: 80px;
      text-align: center;
    }
  }
} 
