

.login {
  &__main {
    margin: 0 auto;
    width: 1050px;
    height: 100px;
    margin-top: 20px;
    padding: 0;
    &__inner {
      height: 35px;
      position: relative;
      &__icon {
        a {
          position: absolute;
        }
        img {
          max-width: 170px;
          padding-right: 30px;
          border-radius: 6px;
        }
      }
      &__key {
        &__search {
          margin-left: 180px;
          width: 700px;
          height: 34px;
          border: solid 1px #eee;
        }
        &__submit {
          height: 35px;
          border: solid 1px white;
          width: 45px;
          color: #3ccaec;
          background-color: #3CCACE;
          input {
          padding-top: 35px;
          height: 40px;
          }
        }
        &__icon {
          position: absolute;
          left: 895px;
          top: 8px;
          font-weight: bold;
          color: white;
          block-size: 20px;
          font-size: 20px;
          .fa {
          }
        }
      } 
    }
    &__bottom {
      height: 45px;
      display: flex;
      justify-content: space-between;
      margin-top: 20px; 
      &__left {
        background: white;
        height: 45px;
        width: 200px;
        font-size: 12px;
        &__ul {
          display: flex;
          justify-content: space-between;
        }
      }
      &__right {
        background: white;
        height: 45px;
        width: 200px;
        font-size: 12px;
        &__ul {
          display: flex;
          justify-content: space-between;
          margin-right: 25px;
          margin-left: 50px;
        }
      }
    }
  }
}


