.miniheader {
  &__main {
    margin: 0 auto;
    width: 1050px;
    height: 100px;
    margin-top: 20px;
    padding: 0;
    &__inner {
      height: 35px;
      margin-top: 10px;
      position: relative;
      &__icon {
        a {
          position: absolute;
          left: 455px;
        }
        img {
          max-width: 140px;
          margin-right: 30px;
          border-radius: 6px;
          background: white;
        }
      }
    }
  }
} 