.search {
  border-style: none;
  &__main {
    margin: 0 auto;
    width: 1050px;
    height: 100px;
    margin-top: 20px;
    padding: 0;
    &__inner {
      height: 35px;
      position: relative;
      &__icon {
        a {
          position: absolute;
        }
        img {
          max-width: 170px;
          padding-right: 30px;
          border-radius: 6px;
        }
      }
      &__key {
        &__search {
          margin-left: 180px;
          width: 700px;
          height: 34px;
          border: solid 1px #eee;
        }
        &__submit {
          height: 35px;
          border: solid 1px white;
          width: 45px;
          color: #3ccaec;
          background-color: #3CCACE;
          input {
          padding-top: 45px;
          height: 40px;
          }
        }
        &__icon {
          position: absolute;
          left: 895px;
          top: 8px;
          font-weight: bold;
          color: white;
          block-size: 20px;
          font-size: 20px;
        }
      } 
    }
    &__bottom {
      height: 45px;
      display: flex;
      justify-content: space-between;
      margin-top: 20px; 
      &__left {
        background: white;
        height: 45px;
        width: 200px;
        font-size: 12px;
        &__ul {
          display: flex;
          justify-content: space-between;
        }
      }
      &__right {
        background: white;
        height: 45px;
        width: 200px;
        font-size: 12px;
        margin-right: 100px;
        &__ul {
          display: flex;
          justify-content: space-between;
          margin-right: 25px;
          margin-left: 50px;
        }
      }
    }
  }
}
.search__section4__box__main__product__lists1 {
  text-align: center;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  &__lists1:hover {
    background-color: #c9c9c9; 
    text-decoration: none; 
  }
    &__image {
      img {
        width: 220px;
        height:170px;

      }
    }
    &__list {
      padding: 0 15px;
      &__text {
        font-size: 16px;
        overflow: hidden;
      }
      &__text1 {
        font-size: 16px;
        display: flex;
        justify-content: center;
        &__right {
          padding-left: 90px;
        }
      }
      &__text2 {
        font-size: 10px;
        padding-right: 140px;
      }
    }
}

.search__section4__box__main__product__lists1 {
  position: relative;
  .search-box_photo__sold{
    width: 0;
    height: 0;
    border-top: 40px solid $maincolor;
    border-right: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid $maincolor ;
    z-index:100;
    position: absolute;
    top:0px;
    &__inner{
      transform: rotate(-45deg);
      font-size: 18px;
      margin:-20px 0px 0px -40px;
      color: #fff;
      letter-spacing: 2px;
      font-weight: 600;
    }
  }
}

